body {

    background-image: url('../img/fon.png');
    /*  */
    }
    .table {
        background-color: white;
    }
    .logo {
        position: fixed;
        width: 6%;
        margin-top: 2%;
        margin-left: 92%;
        }
    .btn_back {
        position: fixed;
        margin-top: 3%;
        margin-left: 3%;
        font-size: 30px;
        color:#1f446e;
    }
    .btn_back:hover {
        color:#1f446e
    }
    .rasp_data {
        position: absolute;
        padding-bottom: 1%;
        padding-left: 1%;
    }
    span {
        color: white;
    }


    .back_image {
    position: fixed;
    width: 5%;
    margin-left: 2%;
    margin-top: 2%;
    
    }
    .modal-header {
    
        background-color: #1f446e;
    }
    .custom-select {
        background-color: #1e2e50;
        color: white;
        border-radius: 0%;
        outline: none;
    }
    
    .data {
        background-color: #034876;
        color:white;
        padding-top: 1%;
    
    }
    .btn {
        border-radius: 0%;
    }
    
    label  {
        font-size: 20px;
    }
      
    td {
        text-align: center;
        font-size: 17px;
        
    }
    
    th {
        text-align: center;
        font-size: 17spx;
    }
    
    a:hover {
        text-decoration: none;
    }
    hr 
    {
        height: 5px;
        border: 0px;
    }
    
    thead {
    
    background-color: #1f446e;
    color:white;
    border-color:black;
    }
    
    