<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ru">
<head>
	<title>Терминал АСУ</title>
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body style="background-image: url('images/bg.png');">



   			<a href="egg.html"><img class="logo"  src="images/logo.png"></a>
   

			<nav class="navbar navbar-expand-sm  navbar-light justify-content-center">
				<h1 class="col-10 mt-3 text-center heading" style="float:center"> Информационная система кафедры АСУ</h1>
				<!-- <a class="navbar-brand" href=""><img class="col-12" style="float:right" src="img/madi2500.png"></a> -->
				
			</nav>

			
			<div class="container mt-3" id="buttons">
				<div class="row justify-content-between">
				
				<div class="col-5 pt-3 pb-3 mb-2 text-center group rounded">
					<a class="btn " href="href='{{ url_for( 'rasp_group.html' ) }}'">
					<p class="group_text pt-2">Расписание по группам</p>
					<img class="group_img align-middle" src="images/group_img.png" alt="">
				</a>
				</div>

				<div class="col-2 text-center  "> <p  class="data_text_up ">Четверг</p></div>
				
				<div class="col-5 pt-3 pb-3 mb-2 text-center ekz rounded">
				<a class="btn " href="rasp_ekz.html">
					<p class="ekz_text pt-2">Расписание экзаменов</p>
					<img class="ekz_img align-middle" src="images/ekz_img.png" alt="">
				</a>
				</div>

				<div class="w-100"></div>
				<div class="col-12 text-center  ">
					<div class="row">
					<div class="col-5"></div>
					<div class="col-2">  <p class="data_text">10:00<br>12 июля</p> </div>
					<div class="col-5"></div>
				</div>
				</div>

				<div class="w-100"></div>

				<div class="col-5 mt-1 text-center prep rounded">
				<a class="btn "href="rasp_prep.html">
					<p class="prep_text pt-2">Расписание преподавателей</p>
					<img class="prep_img align-middle" src="images/prep_img.png" alt="">
					
				</a>
				</div>

				<div class="col-2 text-center  "> <p  class="data_text_down ">Знаменатель</p></div>


				<div class="col-5 mt-1 text-center prep rounded">
				<a class="btn" href="rasp_dop.html">
					<p class="dop_text pt-2">Расписание дополнительных занятий<br>кафедры АСУ</p>
					<img class="dop_img align-middle" src="images/dop_img.png" alt="">
					
				</a>
				</div>
				</div>
			  </div>

		<!-- Footer -->

  <!-- Footer -->
		  
	</body>
	</div>
	





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>